name: Build

on:
  push:
    branches:
      - "gha-migration"
      - "release-*"
    tags:
      - "*"
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/build/build-and-test
        with:
          mvnArgs: "-B"
          runnerArch: "amd64"

  build-and-push-containers:
    name: Build and Push Containers
    needs:
      - build-and-test
    strategy:
      matrix:
        architecture:
          - amd64
          - arm64
          - s390x
          - ppc64le
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/build/build-and-push-containers
        with:
          architecture: ${{ matrix.architecture }}
          runnerArch: "amd64"
          dockerTag: "latest"
          quayUser: ${{ secrets.QUAY_USER }}
          quayPass: ${{ secrets.QUAY_PASS }}
        env:
          DOCKER_REGISTRY: "quay.io"
          DOCKER_ORG: "jstejska"
          DOCKER_TAG: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name|| 'latest' }}
