name: Build

on:
  push:
    branches:
      - "main"
      - "release-*"
  pull_request:
    branches:
      - "*"

# Declare default permissions as read only
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BUILD_ALL_KAFKA_VERSIONS: true

jobs:
  build-test-clients:
    name: Build Test-Clients
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: strimzi/github-actions/.github/actions/dependencies/setup-java@main
        with:
          javaVersion: "21"
      - uses: strimzi/github-actions/.github/actions/build/build-binaries@main
        with:
          runnerArch: "amd64"
          artifactSuffix: "test-clients"

  build-containers:
    name: Build Containers
    needs:
      - build-test-clients
    strategy:
      matrix:
        architecture:
          - amd64
          - arm64
          - s390x
          - ppc64le
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: strimzi/github-actions/.github/actions/dependencies/install-docker@main
      - uses: strimzi/github-actions/.github/actions/build/build-containers@main
        with:
          architecture: ${{ matrix.architecture }}
          artifactSuffix: "test-clients"
          containerRegistry: "quay.io"
          containerOrg: "strimzi-test-clients"
          containerTag: "latest"
          imagesDir: "./docker-images/container-archives"

  push-containers:
    name: Push Containers
    needs:
      - build-test-clients
      - build-containers
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      DOCKER_REGISTRY: "quay.io"
      DOCKER_ORG: "strimzi-test-clients"
      DOCKER_TAG: "latest"
    steps:
      - uses: actions/checkout@v6
      - uses: strimzi/github-actions/.github/actions/dependencies/install-docker@main
      - uses: strimzi/github-actions/.github/actions/build/push-containers@main
        with:
          architectures: "amd64,arm64,ppc64le,s390x"
          containerRegistry: "quay.io"
          containerOrg: "strimzi-test-clients"
          containerTag: "latest"
          registryUser: ${{ secrets.QUAY_USER }}
          registryPassword: ${{ secrets.QUAY_PASS }}
          artifactSuffix: "test-clients"

  deploy-java:
    name: Deploy Java artifacts
    needs:
      - build-test-clients
      - build-containers
      - push-containers
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: strimzi/github-actions/.github/actions/build/deploy-java@main
        with:
          gpgPassphrase: ${{ secrets.GPG_PASSPHRASE }}
          gpgSigningKey: ${{ secrets.GPG_SIGNING_KEY }}
          centralUsername: ${{ secrets.CENTRAL_USERNAME }}
          centralPassword: ${{ secrets.CENTRAL_PASSWORD }}
          artifactSuffix: "test-clients"
          modules: "builders"